body {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	line-height: 1.5em;
	color: rgb(0,0,0,0.75);
	letter-spacing: 0.2px;
}

.content {
	background-color: rgb(255,255,255);
	background-image: url("../imgs/background@0,5x.jpg");
	background-repeat: no-repeat;
	background-size: 75%;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-wrap: wrap;
}

h1,h2,h3 {
	font-family: 'Share Tech Mono', monospace;
	color: rgb(0,0,0);
}

h2 { font-size: 2em; }

a { text-decoration: none; }

header { width: 100%; }

.logo {
	width: 20%;
	margin-left: 15%;
}

.navigation {
	font-family: 'Share Tech Mono', monospace;
	margin-left: 15%;
}

.navigation a { color: #fff; }
.navigation a:hover { color: rgb(0,0,0); }

.navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

main {
	width: 65%;
	margin: 0 10% 0 25%;
}

footer {
	width: 100%;
	font-size: 0.8em;
	padding: 0 10% 0 25%;
	color: #fff;
	background-color: rgb(94,105,149);
}